.header-menu {
  display:grid;
  color:aqua
}


body {
  display: flexbox;
  text-align: center;
  justify-content: left;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

table
{
  display: flexbox;
  text-align: center;
  justify-content: center;
}

p {
  text-align: center;
}

header
{
  font-size:xx-large;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

/* aside {
  grid-column: span 2;
} */

@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }

}

header,
main,
aside,
footer,
body {
  font-family: Verdana, sans-serif;
}

header,
main,
aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  vertical-align:middle
}

/* header,
main,
aside,
footer,
body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
} */

header,
footer {
  height: 10vw;
}

